    <table class="mt-2 table">
        <thead>
            <tr>
                <th class="p-3">VIN</th>
                <th class="p-3">ODOMETRO</th>
                <th class="p-3">NÍVEL DO COMBUSTÍVEL</th>
                <th class="p-3">STATUS</th>
                <th class="p-3">LAT</th>
                <th class="p-3">LONG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-3"><input type="text"></td>
                <td class="p-3">80000km</td>
                <td class="p-3">90%</td>
                <td class="p-3">ON</td>
                <td class="p-3">-32.2831</td>
                <td class="p-3">14.1625</td>
            </tr>
        </tbody>
    </table>