<button class="botao-abrir-menu" (click)="alternarMenu()">☰</button>

<div class="menu-lateral" [class.menu-aberto]="menuAtivo">
  
  <div class="cabecalho-do-menu">
    <h5 class="titulo-do-menu">Ford Brasil</h5>
    <button class="botao-fechar" (click)="alternarMenu()">✕</button>
  </div>
  <div class="corpo-do-menu"> /*Lembrar de mudar depois*/
    <a href="#" class="item-do-menu">Página Inicial</a>
    <a href="#" class="item-do-menu">Modelos e Veículos</a>
    <a href="#" class="item-do-menu">Monte o Seu</a>
    <a href="#" class="item-do-menu">Agendar Test Drive</a>
  </div>

</div>
<div class="fundo-escurecido" *ngIf="menuAtivo" (click)="alternarMenu()"></div>