<section class="d-flex gap-5">
<div class="shadow border border-black p-3">
    <h2>Veículos</h2>
    <select>
        <option value="">Territory</option>
        <option value="">Mustang</option>
        <option value="">Bronco</option>
        <option value="">Ranger</option>
    </select>
</div>

<app-card />
<app-card />
<app-card />

</section>
<section>
    <img src="/img/mustang.png" alt=" Foto do Mustang">
</section>
<section>
    <table class="mt-2">
        <thead>
            <tr>
                <th>VIN</th>
                <th>ODOMETRO</th>
                <th>NÍVEL DO COMBUSTÍVEL</th>
                <th>STATUS</th>
                <th>LAT</th>
                <th>LONG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input type="text"></th>
                <th>80000km</th>
                <th>90%</th>
                <th>ON</th>
                <th>-32.2831</th>
                <th>14.1625</th>
            </tr>
        </tbody>
    </table>
</section>