<section class="d-flex gap-3 justify-content-around">
<div class="shadow border border-black p-3">
    <h2>Veículos</h2>
    <select>
        <option value="">Territory</option>
        <option value="">Mustang</option>
        <option value="">Bronco</option>
        <option value="">Ranger</option>
    </select>
</div>

<app-card />
<app-card />
<app-card />

</section>
<section>
    <img src="/img/mustang.png" alt=" Foto do Mustang">
</section>
<section>
    <table class="mt-2">
        <thead>
            <tr>
                <th class="p-3">VIN</th>
                <th class="p-3">ODOMETRO</th>
                <th class="p-3">NÍVEL DO COMBUSTÍVEL</th>
                <th class="p-3">STATUS</th>
                <th class="p-3">LAT</th>
                <th class="p-3">LONG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-3"><input type="text"></td>
                <td class="p-3">80000km</td>
                <td class="p-3">90%</td>
                <td class="p-3">ON</td>
                <td class="p-3">-32.2831</td>
                <td class="p-3">14.1625</td>
            </tr>
        </tbody>
    </table>
</section>