<section class="d-flex gap-3 justify-content-around">
<div class="shadow border border-black p-3">
    <h2>Veículos</h2>
    <select>
        @for(veiculo of veiculos; track veiculo.id) {
            <option value="{{veiculo.id}}">{{veiculo.vehicle}}</option>
        }
    </select>
</div> 

        <app-card [titulo]="'Total de Vendas'" [valor]= "veiculoSelecionado.volumetotal" />
        <app-card [titulo]="'Conectados'" [valor]= "veiculoSelecionado.connected" />
        <app-card [titulo]="'Update Software'" [valor]= "veiculoSelecionado.softwareUpdates" />

</section>
<section>
    <img src="{{ veiculoSelecionado.img }}" alt=" Foto do carro Ford selecionado">
</section>
<section>
    <app-car-table />
</section>