<section class="d-flex gap-3 justify-content-around">
<div class="shadow border border-black p-3">
    <h2>Veículos</h2>
    <select>
        <option value="">Ranger</option>
        <option value="">Mustang</option>
        <option value="">Territory</option>
        <option value="">Bronco Sport</option>
    </select>
</div>

        <app-card [titulo]="'Total de Vendas'" />
        <app-card [titulo]="'Conectados'" />
        <app-card [titulo]="'Update Software'" />

</section>
<section>
    <img src="{{ veiculoSelecionado.img }}" alt=" Foto do carro Ford selecionado">
</section>
<section>
    <app-car-table />
</section>